.category-item {
    flex: 1;
    height: 70vh;
    margin: 3px;
    position: relative;
    &__img-box {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info {
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title {
            color: #fff;
            margin-bottom: 20px;
        }
        .btn-shop-now {
            padding: 12px;
            border: none;
            background-color: white;
            color: gray;
            cursor: pointer;
            font-weight: 600;
        }
    }
}
