.slider {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
    &__arrow {
        width: 50px;
        height: 50px;
        background-color: #fff7f7;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;
        opacity: 0.8;
        z-index: 2;
    }
    #left{
        left: 10px;
    }
    #right{
        right: 10px;
    }
    &__wrapper {
        display: flex;
        height: 100%;
        transition: all 1.5s ease;

        .container {
            display: flex;
            align-items: center;
            width: 100vw;
            height: 100vh;

            &__img {
                height: 100%;
                flex: 1;
                img {
                    height: 80%;
                }
            }
            &__info {
                padding: 50px;
                flex: 1;
                .title {
                    font-size: 70px;
                }
                .desc {
                    font-size: 20px;
                    margin: 50px 0;
                    font-weight: 500;
                    letter-spacing: 3px;
                }
                .btn-shop-now {
                    padding: 10px;
                    font-size: 20px;
                    background-color: transparent;
                    cursor: pointer;
                }
            }
        }
    }
}
